.circles-area {
    margin: auto;
    text-align: center;
}

.main-area {
    display: flex;
    display: -webkit-flex;
    height: 600px;
    width: 60%;
    margin: auto;
    background-color: black;
}

.up-circle {
    position: relative;
    top: 30px;
    color: red;
    cursor: pointer;
}

.down-circle {
    position: relative;
    top: 260px;
    color: yellow;
    cursor: pointer;
}

.left-circle {
    position: relative;
    left: -240px;
    top: -70px;
    color: chartreuse;
    cursor: pointer;
}

.right-circle {
    position: relative;
    right: -250px;
    top: -215px;
    color: blue;
    cursor: pointer;
}

.go {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 120px;
    top: 22%;
    width: 10%;
}

.go :hover {
    cursor: pointer;
}

.disable-buttons {
    pointer-events: none;
}

.unable-buttons {
    pointer-events: auto;
}