<div class="main-area">
  <div class="circles-area" [ngClass]="disableButtons ? 'disable-buttons' : 'unable-buttons'">

    <div class="up-circle">
      <app-up-circle></app-up-circle>
    </div>
    <div class="down-circle">
      <app-down-circle></app-down-circle>
    </div>

    <h1 class="go" *ngIf="goButton" (click)="startGame()" style="pointer-events: auto;">Go</h1>
    <h1 class="go" *ngIf="!goButton">{{ movementService.movementCounter }}</h1>

    <div class="left-circle">
      <app-left-circle></app-left-circle>
    </div>

    <div class="right-circle">
      <app-right-circle></app-right-circle>
    </div>

  </div>
</div>