/* button {
    width: 5.6rem;
    height: 5.6rem;
    border: 0.24rem solid;
    border-radius: 4rem;
    background-color: var(--black);
  }

  .red {
    border-color: red;
  }
  
  .red:active,
  .red.active {
    background-color: red;
  } */